.DS_Store
cache/
artifacts/

coverage*
types/

.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

node_modules/
.env

.yalc
yalc.lock
yarn-error.log

contractsInfo.json
deployments/hardhat
deployments/localhost

/.dapp
