{
    "tabWidth": 4,
    "printWidth": 200,
    "proseWrap": "preserve",
    "overrides": [
        {
          "files": "*.sol",
          "options": {
            "printWidth": 200,
            "explicitTypes": "always"
          }
        }
      ]
}