{
    "printWidth": 100,
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "printWidth": 120,
                "tabWidth": 4,
                "explicitTypes": "always"
            }
        }
    ]
}
