{
  "printWidth": 100,
  "tabWidth": 4,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 150,
        "tabWidth": 4,
        "explicitTypes": "always"
      }
    }
  ]
}